* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

.hidden {
  opacity: 0;
}

// Variable Color's
$background: #1e1e2e;
$border: #181825;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

.workspaces_container,
.audio_output_widget,
.audio_input_widget,
.wofi_widget,
.calendar_widget,
.time_widget,
.cpu_widget,
.splash_container,
.cpu_overlay_container,
.ram_overlay_container,
.open_overlay_button,
.music_title,
.music_control,
.keyboard_layout_container,
.powermenu,
.music_stop.button,
.ram_widget {
  background: rgba($background, 0.8);
  border: 1px solid $border;
  border-radius: 10px;
}

// .bar_left,
// .bar_center,
// .bar_right {
//   background: rgba(24, 24, 37, 0.5);
//   border-radius: 10px;
//   padding: 5px;
// }
.bar {
    padding: 5px 10px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    // background: rgb(251,47,255);
    // background: radial-gradient(circle, rgba(54,71,162,0.2) 39%, rgba(46,39,118,0.6) 100%); 
}

.powermenu {
  border-radius: 0;
}

.music_title {
  padding: 0 10px;
  border-radius: 0;
}
.music_control {
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
}

.music_prev.text,
.music_next.text {
  font-size: 16px;
}

.music_pause.button {
  margin-left: 10px;
  margin-right: 12px;
}

.music_stop.button {
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 10px 0 0 10px;
}

.music_stop.text {
    font-size: 16px;
}

.open_overlay_button {
  padding: 0 10px;
}

.keyboard_layout_container {
  padding: 0 10px;
}

.ram_overlay_text,
.cpu_overlay_text {
  font-size: 40px;
  padding-right: 10px;
}
.ram_overlay_circle,
.cpu_overlay_circle {
  background-color: $border;
}

.ram_overlay_container,
.cpu_overlay_container {
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
}

.splash_container {
  margin-top: 10px;
  padding: 10px;
}

.audio_input_widget,
.audio_output_widget {
  margin-right: 10px;
}

.logout_button,
.reboot_button,
.poweroff_button,
.lock_button {
  opacity: 0.8;
  padding: 0 10px;
  border-radius: 0;
}

.powermenu_icon {
  padding: 0 13px 0 10px;
}

.time_widget {
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
}

.calendar_widget {
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}
.cpu_widget {
  border-radius: 10px 0 0 10px;
  padding: 0 10px;
  margin-left: 10px;
}

.cpu_text {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
}

.cpu_circle_container {
  padding: 5px;
}

.ram_widget {
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
}

.wofi_widget {
  padding: 0 10px;
}

scale trough {
  all: unset;
  background-color: #000000;
  border-radius: 5px;
  min-height: 8px;
  min-width: 80px;
  margin: 0 10px 0 0;
}

progressbar trough {
  all: unset;
  background-color: #000000;
  border-radius: 5px;
  min-width: 30px;
}

progressbar > trough {
  min-height: 140px;
}

.sys_progress trough progress {
  background-color: #FFFFFF;
  border-radius: 5px;
  min-width: 30px;
}

.volume_icon {
  padding: 0 5px 0 10px;
}

.audio_input_slider trough highlight,
.music_volume_slider trough highlight,
.audio_output_slider trough highlight {
    background-color: #FFFFFF;
    border-radius: 5px;
}

.workspace_entry {
    opacity: 1;
    padding: 0 10px;
    color: #313244;
}

.workspace_entry.current {
  color: #a6adc8;
  border: 1px solid rgba(#a6adc8, 0);
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.calendar_container {
  background-color: $background;
  border-radius: 20px;
}

.calendar {
  padding: 5 10px;
}

calendar:selected {
  color: $blue;
}

calendar.header {
color: $blue;
font-weight: bold;
}

calendar.button {
color: $magenta;
}

calendar.highlight {
color: $magenta;
font-weight: bold;
}

calendar:indeterminate {
color: $background;
}
